:root{
    --primary-text: Montserrat;
    --secondary-text:Josefin Sans;  
  }
  
  header{
      font-family: var(--primary-text);
      font-weight: 300;
  }

  footer{
    margin-top:70%;
  }

  h1, p {
    font-family: var(--primary-text);
    
  }

  
  .contact-link{
    color:rgb(56, 8, 8);

  }

  .contact-page{
  height: 100%;
  background-color:rgba(0, 128, 128, 0.305); 
  padding: 36px 15px;
    margin: 60px;
  transition: background-color 0.3s ease; 
  }

  .contact-page:hover {
    background-color: darkcyan; 
  }

  