:root{
  --primary-text: Montserrat;
  --secondary-text:Josefin Sans;  
}

header{
    font-family: var(--primary-text);
    font-weight: 100;
}

h1, p {
  font-family: Josefin Sans;
  font-weight: 200;

}


.promo-message{
  text-align: center;
}

.hero-background{
  background-color:#f8f9fa;
  width:40%;
  border-radius: 30px 50px;
}

button{
  border: 1px solid rgb(56, 8, 8);
  border-color:rgb(56, 8, 8) ;
color:whitesmoke;
}

.btn {
  --bs-btn-border-color: rgb(56, 8, 8);
  }

.button:hover{
  background-color:rgb(56,8,8);
  color:#f8f9fa;
}

@media(max-width:375px) {
  .logo{
    display: none;
}
}

@media(min-width:376px){
  .logo{
    margin-left:2px;
    display:block;
  }
}

@media(max-width:1200px){
  .hero-background{
    width: 60%;
  }
}

@media (max-width:768px){
.hero-background{
  width:65%;
  height: 150px;
}
}
